In [10]:
import sys
import pandas as pd
import numpy as np
import datetime as dt
sys.path.append('../')
from envir import config

In [11]:
# read in files
files = ['KOKX2016night.csv', 'KOKX2017night.csv',
         'KOKX2018night.csv', 'KOKX2019night.csv', 'KOKX_spring_2020.csv']
kokx = pd.DataFrame()
for f in files:
    temp = pd.read_csv(config.dataFol+'clean_nexrad/'+f)
    kokx = kokx.append(temp)

In [12]:
# read in files
files = ['KDIX2016night.csv', 'KDIX2017night.csv',
         'KDIX2018night.csv', 'KDIX2019night.csv', 'KDIX_spring_2020.csv']
kdix = pd.DataFrame()
for f in files:
    temp = pd.read_csv(config.dataFol+'clean_nexrad/'+f)
    kdix = kdix.append(temp)

In [13]:
kokx['datetime'] = pd.to_datetime(kokx.datetime).dt.tz_localize('UTC')
kokx['radar_name'] = 'KOKX'
kdix['datetime'] = pd.to_datetime(kdix.datetime).dt.tz_localize('UTC')
kdix['radar_name'] = 'KDIX'
radars = pd.concat([kokx, kdix], axis=0)

In [14]:
radars.columns

Index(['datetime', 'mtr', 'vid', 'vir', 'rtr', 'mt', 'rt', 'ff', 'dd', 'u',
       'v', 'height', 'airspeed', 'heading', 'airspeed_u', 'airspeed_v',
       'radar_name'],
      dtype='object')

In [15]:
radars['timestamp'] = radars['datetime'].astype('str').str[0:16]

In [16]:
radars.head()

,datetime,mtr,vid,vir,rtr,mt,rt,ff,dd,u,v,height,airspeed,heading,airspeed_u,airspeed_v,radar_name,timestamp
0,2016-01-01 00:01:23+00:00,2.404765,0.100105,1.10116,26.452419,0.196389,2.160281,6.672867,120.481784,5.745748,-3.382044,246.073922,2.245836,250.508740,-2.125352,-0.460421,KOKX,2016-01-01 00:01
1,2016-01-01 00:11:11+00:00,2.401061,0.087945,0.96739,26.411676,0.587562,6.463183,7.583887,109.591163,7.109099,-2.530201,229.731845,1.218308,23.347845,-0.425245,0.419093,KOKX,2016-01-01 00:11
2,2016-01-01 00:20:56+00:00,2.922019,0.118743,1.30617,32.142208,1.064014,11.704149,6.835551,120.412504,5.878504,-3.450623,234.408898,1.776066,145.565965,-1.650339,-0.415139,KOKX,2016-01-01 00:20
3,2016-01-01 00:30:45+00:00,2.694789,0.104155,1.14570,29.642682,1.503040,16.533436,7.186941,112.218946,6.581307,-2.688321,258.924413,1.568954,25.209671,-0.858024,0.372199,KOKX,2016-01-01 00:30
4,2016-01-01 00:40:29+00:00,3.106677,0.121072,1.33179,34.173448,2.008306,22.091367,7.127719,114.683949,6.451931,-2.965367,245.842580,1.155723,-5.553182,-0.887278,0.142879,KOKX,2016-01-01 00:40

In [17]:
radars_clean = radars[['radar_name', 'timestamp', 'mtr', 'mt', 'height']]

In [19]:
radars_clean.rename(columns={'mtr': 'mtr_#/km/h',
                             'mt': 'mt_#/km', 
                            'height':'height_m'}, inplace=True)

/home/cusp/yg833/.conda/envs/birdsVE3.7/lib/python3.7/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [20]:
radars_clean.to_csv(config.dataFol+'clean_nexrad/clean_nexrad.csv', index = False)