In [1]:
import sys
import datetime
from os import listdir
from os.path import isfile, join
import numpy as np 
import pandas as pd
import h5py

import matplotlib.pyplot as plt
%matplotlib inline

sys.path.append('../')
from envir import config

In [2]:
# WSQ PARK SENSORS 

#### - sonycnode-b827eb815321.sonyc
#### 19 Washington Square North - 15-61 Washington Square N, New York, NY 10011

#### - sonycnode-b827eb8e2420.sonyc
#### 4 Washington Square North 1-6 Washington Square North, New York, NY 10003

#### - sonycnode-b827eb86d458.sonyc
#### Silver Lab - 60 5th Ave

#### - sonycnode-b827eb905497.sonyc
#### Kimmel Center	60 Washington Square S, New York, NY 10012


#### - sonycnode-b827eb0fedda.sonyc
#### Juan Carlos	King Juan Carlos I of Spain Center, 53 Washington Square S, New York, NY 10012


#### - sonycnode-b827eb1685c7.sonyc
#### Shimkin Reading Room	35-51 West 4th Street, New York, NY 10012

# SENSOR 1 - 2018

In [3]:
sensor1_2018 = h5py.File(config.dataFol+'spl/2018/sonycnode-b827eb815321.sonyc.h5', 'r')

In [4]:
dset_18 = sensor1_2018["minute_intervals"]

In [5]:
df = pd.DataFrame(dset_18, columns = ['target_column'])
df.head()

                                  target_column
0  [1514782859.01, 57.194843, 56.676155, 59.89]
1  [1514782919.01, 57.810467, 55.664165, 65.07]
2   [1514782979.02, 56.273487, 54.38983, 63.59]
3      [1514783039.03, 57.60059, 55.186, 64.18]
4  [1514783099.04, 55.780563, 54.577168, 61.89]

In [6]:
df.loc[:, 'timestamp'] = df.target_column.map(lambda x: x[0])
df.loc[:, 'dbas_lin_mean'] = df.target_column.map(lambda x: x[1])
df.loc[:, 'dbas_mean'] = df.target_column.map(lambda x: x[2])
df.loc[:, 'dbas_max'] = df.target_column.map(lambda x: x[3])

In [7]:
sensor1_2018_min_int_df = df.drop(['target_column'], axis =1)

In [8]:
sensor1_2018_min_int_df.head()

      timestamp  dbas_lin_mean  dbas_mean   dbas_max
0  1.514783e+09      57.194843  56.676155  59.889999
1  1.514783e+09      57.810467  55.664165  65.070000
2  1.514783e+09      56.273487  54.389832  63.590000
3  1.514783e+09      57.600590  55.186001  64.180000
4  1.514783e+09      55.780563  54.577168  61.889999

In [9]:
sensor1_2018_min_int_df['timestamp'] = pd.to_datetime(sensor1_2018_min_int_df['timestamp'], unit = "s")

In [10]:
sensor1_2018_min_int_df.head()

                      timestamp  dbas_lin_mean  dbas_mean   dbas_max
0 2018-01-01 05:00:59.009999990      57.194843  56.676155  59.889999
1 2018-01-01 05:01:59.009999990      57.810467  55.664165  65.070000
2 2018-01-01 05:02:59.019999981      56.273487  54.389832  63.590000
3 2018-01-01 05:03:59.029999971      57.600590  55.186001  64.180000
4 2018-01-01 05:04:59.039999962      55.780563  54.577168  61.889999

# SENSOR 2

In [11]:
sensor2_2018 = h5py.File(config.dataFol+'spl/2018/sonycnode-b827eb8e2420.sonyc.h5', 'r')

In [12]:
dset2 = sensor2_2018['minute_intervals']

In [13]:
df2 = pd.DataFrame(dset2, columns = ['target_column'])
df2.head()

                                  target_column
0  [1514782859.77, 71.547356, 71.456665, 73.54]
1     [1514782919.77, 71.08683, 70.8615, 75.55]
2    [1514782979.78, 71.88443, 71.24983, 79.62]
3      [1514783039.79, 69.90973, 69.869, 71.16]
4       [1514783099.8, 69.64456, 69.591, 71.19]

In [14]:
df2.loc[:, 'timestamp'] = df2.target_column.map(lambda x: x[0])
df2.loc[:, 'dbas_lin_mean'] = df2.target_column.map(lambda x: x[1])
df2.loc[:, 'dbas_mean'] = df2.target_column.map(lambda x: x[2])
df2.loc[:, 'dbas_max'] = df2.target_column.map(lambda x: x[3])
df2.head()

,target_column,timestamp,dbas_lin_mean,dbas_mean,dbas_max
0,"[1514782859.77, 71.547356, 71.456665, 73.54]",1.514783e+09,71.547356,71.456665,73.540001
1,"[1514782919.77, 71.08683, 70.8615, 75.55]",1.514783e+09,71.086830,70.861504,75.550003
2,"[1514782979.78, 71.88443, 71.24983, 79.62]",1.514783e+09,71.884430,71.249832,79.620003
3,"[1514783039.79, 69.90973, 69.869, 71.16]",1.514783e+09,69.909729,69.869003,71.160004
4,"[1514783099.8, 69.64456, 69.591, 71.19]",1.514783e+09,69.644562,69.591003,71.190002

In [15]:
sensor2_2018_min_int_df = df2.drop(['target_column'], axis =1)

In [16]:
sensor2_2018_min_int_df['timestamp'] = pd.to_datetime(sensor2_2018_min_int_df['timestamp'], unit = "s")

# SENSOR 3

In [17]:
sensor3_2018 = h5py.File(config.dataFol+'spl/2018/sonycnode-b827eb86d458.sonyc.h5', 'r')

In [18]:
dset3 = sensor3_2018['minute_intervals']

In [19]:
df3 = pd.DataFrame(dset3, columns = ['target_column'])
df3.head()

                                  target_column
0   [1514783039.16, 57.25075, 56.620716, 64.59]
1    [1514783071.17, 56.3517, 56.202812, 58.99]
2    [1514783279.19, 61.26865, 61.03893, 64.18]
3   [1514783311.2, 58.773766, 58.191563, 62.65]
4  [1514783519.22, 57.412888, 56.938927, 61.86]

In [20]:
df3.loc[:, 'timestamp'] = df3.target_column.map(lambda x: x[0])
df3.loc[:, 'dbas_lin_mean'] = df3.target_column.map(lambda x: x[1])
df3.loc[:, 'dbas_mean'] = df3.target_column.map(lambda x: x[2])
df3.loc[:, 'dbas_max'] = df3.target_column.map(lambda x: x[3])
df3.head()

,target_column,timestamp,dbas_lin_mean,dbas_mean,dbas_max
0,"[1514783039.16, 57.25075, 56.620716, 64.59]",1.514783e+09,57.250751,56.620716,64.589996
1,"[1514783071.17, 56.3517, 56.202812, 58.99]",1.514783e+09,56.351700,56.202812,58.990002
2,"[1514783279.19, 61.26865, 61.03893, 64.18]",1.514783e+09,61.268650,61.038929,64.180000
3,"[1514783311.2, 58.773766, 58.191563, 62.65]",1.514783e+09,58.773766,58.191563,62.650002
4,"[1514783519.22, 57.412888, 56.938927, 61.86]",1.514784e+09,57.412888,56.938927,61.860001

In [21]:
sensor3_2018_min_int_df = df3.drop(['target_column'], axis =1)

In [22]:
sensor3_2018_min_int_df['timestamp'] = pd.to_datetime(sensor3_2018_min_int_df['timestamp'], unit = "s")

# SENSOR 4

In [23]:
s4_2018 = h5py.File(config.dataFol+'spl/2018/sonycnode-b827eb905497.sonyc.h5', 'r')

In [24]:
dset4 = s4_2018['minute_intervals']

In [25]:
df4 = pd.DataFrame(dset4, columns = ['target_column'])

In [26]:
df4.loc[:, 'timestamp'] = df4.target_column.map(lambda x: x[0])
df4.loc[:, 'dbas_lin_mean'] = df4.target_column.map(lambda x: x[1])
df4.loc[:, 'dbas_mean'] = df4.target_column.map(lambda x: x[2])
df4.loc[:, 'dbas_max'] = df4.target_column.map(lambda x: x[3])
df4.head()

,target_column,timestamp,dbas_lin_mean,dbas_mean,dbas_max
0,"[1514782859.52, 61.322464, 60.83089, 65.74]",1.514783e+09,61.322464,60.830891,65.739998
1,"[1514782919.53, 60.366554, 59.7145, 67.62]",1.514783e+09,60.366554,59.714500,67.620003
2,"[1514782979.54, 60.691177, 59.985832, 66.76]",1.514783e+09,60.691177,59.985832,66.760002
3,"[1514783039.55, 57.870052, 57.51317, 62.51]",1.514783e+09,57.870052,57.513168,62.509998
4,"[1514783099.56, 59.03361, 58.831, 62.53]",1.514783e+09,59.033611,58.831001,62.529999

In [27]:
sensor4_2018_min_int_df = df4.drop(['target_column'], axis =1)

In [28]:
sensor4_2018_min_int_df['timestamp'] = pd.to_datetime(sensor4_2018_min_int_df['timestamp'], unit = "s")

# SENSOR 5

In [29]:
s5_2018 = h5py.File(config.dataFol+'spl/2018/sonycnode-b827eb0fedda.sonyc.h5', 'r')

In [30]:
dset5 = s5_2018['minute_intervals']

In [31]:
df5 = pd.DataFrame(dset5, columns = ['target_column'])

In [32]:
df5.loc[:, 'timestamp'] = df5.target_column.map(lambda x: x[0])
df5.loc[:, 'dbas_lin_mean'] = df5.target_column.map(lambda x: x[1])
df5.loc[:, 'dbas_mean'] = df5.target_column.map(lambda x: x[2])
df5.loc[:, 'dbas_max'] = df5.target_column.map(lambda x: x[3])
df5.head()

,target_column,timestamp,dbas_lin_mean,dbas_mean,dbas_max
0,"[1514782859.83, 64.11497, 64.008, 65.65]",1.514783e+09,64.114967,64.008003,65.650002
1,"[1514782919.84, 60.483467, 58.8725, 68.81]",1.514783e+09,60.483467,58.872501,68.809998
2,"[1514782979.85, 60.898743, 59.304165, 69.58]",1.514783e+09,60.898743,59.304165,69.580002
3,"[1514783039.86, 57.2298, 56.849, 62.17]",1.514783e+09,57.229801,56.848999,62.169998
4,"[1514783099.86, 62.18136, 60.688168, 67.39]",1.514783e+09,62.181358,60.688168,67.389999

In [33]:
sensor5_2018_min_int_df = df5.drop(['target_column'], axis =1)
sensor5_2018_min_int_df.head()

      timestamp  dbas_lin_mean  dbas_mean   dbas_max
0  1.514783e+09      64.114967  64.008003  65.650002
1  1.514783e+09      60.483467  58.872501  68.809998
2  1.514783e+09      60.898743  59.304165  69.580002
3  1.514783e+09      57.229801  56.848999  62.169998
4  1.514783e+09      62.181358  60.688168  67.389999

In [34]:
sensor5_2018_min_int_df['timestamp'] = pd.to_datetime(sensor5_2018_min_int_df['timestamp'], unit = "s")

# SENSOR 6

In [35]:
s6_2018 = h5py.File(config.dataFol+'spl/2018/sonycnode-b827eb1685c7.sonyc.h5', 'r')

In [36]:
dset6 = s6_2018['minute_intervals']

In [37]:
df6 = pd.DataFrame(dset6, columns = ['target_column'])

In [38]:
df6.loc[:, 'timestamp'] = df6.target_column.map(lambda x: x[0])
df6.loc[:, 'dbas_lin_mean'] = df6.target_column.map(lambda x: x[1])
df6.loc[:, 'dbas_mean'] = df6.target_column.map(lambda x: x[2])
df6.loc[:, 'dbas_max'] = df6.target_column.map(lambda x: x[3])
df6.head()

,target_column,timestamp,dbas_lin_mean,dbas_mean,dbas_max
0,"[1514782859.52, 64.70045, 64.478424, 66.61]",1.514783e+09,64.700447,64.478424,66.610001
1,"[1514782919.52, 60.64366, 59.8305, 68.81]",1.514783e+09,60.643661,59.830502,68.809998
2,"[1514782979.53, 63.73736, 61.95067, 72.46]",1.514783e+09,63.737358,61.950668,72.459999
3,"[1514783039.54, 60.46155, 59.9205, 64.92]",1.514783e+09,60.461552,59.920502,64.919998
4,"[1514783099.55, 60.692802, 60.400833, 66.03]",1.514783e+09,60.692802,60.400833,66.029999

In [39]:
sensor6_2018_min_int_df = df6.drop(['target_column'], axis =1)
sensor6_2018_min_int_df.head()

      timestamp  dbas_lin_mean  dbas_mean   dbas_max
0  1.514783e+09      64.700447  64.478424  66.610001
1  1.514783e+09      60.643661  59.830502  68.809998
2  1.514783e+09      63.737358  61.950668  72.459999
3  1.514783e+09      60.461552  59.920502  64.919998
4  1.514783e+09      60.692802  60.400833  66.029999

In [40]:
sensor6_2018_min_int_df['timestamp'] = pd.to_datetime(sensor6_2018_min_int_df['timestamp'], unit = "s")

## WRITE CSV

In [41]:
### SENSOR 1

sensor1_2018_min_int_df.to_csv('/gws_gpfs/projects/project-urban_birds/workspace/share/data/clean_spl/sonycnode-b827eb815321-2018.csv')

### SENSOR 2

sensor2_2018_min_int_df.to_csv('/gws_gpfs/projects/project-urban_birds/workspace/share/data/clean_spl/sonycnode-b827eb8e2420-2018.csv')

### SENSOR 3

sensor3_2018_min_int_df.to_csv('/gws_gpfs/projects/project-urban_birds/workspace/share/data/clean_spl/sonycnode-b827eb86d458-2018.csv')

### SENSOR 4

sensor4_2018_min_int_df.to_csv('/gws_gpfs/projects/project-urban_birds/workspace/share/data/clean_spl/sonycnode-b827eb905497-2018.csv')

### SENSOR 5

sensor5_2018_min_int_df.to_csv('/gws_gpfs/projects/project-urban_birds/workspace/share/data/clean_spl/sonycnode-b827eb0fedda-2018.csv')

### SENSOR 6

sensor6_2018_min_int_df.to_csv('/gws_gpfs/projects/project-urban_birds/workspace/share/data/clean_spl/sonycnode-b827eb1685c7-2018.csv')