In [1]:
import sys
import datetime
from os import listdir
from os.path import isfile, join
import numpy as np 
import pandas as pd
import h5py

import matplotlib.pyplot as plt
%matplotlib inline

sys.path.append('../')
from envir import config

### UPLOAD SENSOR CODES

In [2]:
### UPLOAD SENSORS FOR 

sensors = pd.read_json(config.dataFol+"sonyc_test.collection.json")

In [3]:
sensors.fqdn

0      sonycnode-b827ebed47a6.sonyc
1      sonycnode-b827eb74a9e8.sonyc
2      sonycnode-b827ebafe148.sonyc
3      sonycnode-b827ebe3b72c.sonyc
4      sonycnode-b827eb0535b8.sonyc
                   ...
96     sonycnode-b827ebc6dcc6.sonyc
97     sonycnode-b827eb0fedda.sonyc
98     sonycnode-b827ebcf5bfc.sonyc
99     sonycnode-b827eb132382.sonyc
100                       foo.sonyc
Name: fqdn, Length: 101, dtype: object

# WSQ PARK SENSORS 

#### - sonycnode-b827eb815321.sonyc
#### 19 Washington Square North - 15-61 Washington Square N, New York, NY 10011

#### - sonycnode-b827eb8e2420.sonyc
#### 4 Washington Square North 1-6 Washington Square North, New York, NY 10003

#### - sonycnode-b827eb86d458.sonyc
#### Silver Lab - 60 5th Ave

#### - sonycnode-b827eb905497.sonyc
#### Kimmel Center	60 Washington Square S, New York, NY 10012


#### - sonycnode-b827eb0fedda.sonyc
#### Juan Carlos	King Juan Carlos I of Spain Center, 53 Washington Square S, New York, NY 10012


#### - sonycnode-b827eb1685c7.sonyc
#### Shimkin Reading Room	35-51 West 4th Street, New York, NY 10012

In [4]:
#- sonycnode-b827eb815321.sonyc
# 19 Washington Square North - 15-61 Washington Square N, New York, NY 10011

sensor1_2017 = h5py.File(config.dataFol+'spl/2017/sonycnode-b827eb815321.sonyc.h5', 'r')

In [5]:
list(sensor1_2017.keys())

['minute_intervals', 'second_intervals']

In [6]:
#for key in sensor1_2017.keys():
#    print(key)

In [7]:
sensor1_2017.visit(print)

minute_intervals
second_intervals

In [8]:
dset = sensor1_2017["minute_intervals"]

In [9]:
dset.shape

(491936,)

In [10]:
df = pd.DataFrame(dset, columns = ['target_column'])
df.head()

                                 target_column
0   [1484334299.99, 60.71689, 60.58235, 63.65]
1   [1484334359.0, 62.19081, 61.182587, 68.22]
2   [1484334419.01, 65.20397, 64.31627, 68.85]
3   [1484334479.01, 70.33647, 69.63593, 78.42]
4  [1484334539.02, 66.32391, 63.955086, 77.13]

In [11]:
#columns=['timestamp', 'dbas_lin_mean', 'dbas_mean', 'dbas_max'])

In [12]:
df.loc[:, 'timestamp'] = df.target_column.map(lambda x: x[0])
df.loc[:, 'dbas_lin_mean'] = df.target_column.map(lambda x: x[1])
df.loc[:, 'dbas_mean'] = df.target_column.map(lambda x: x[2])
df.loc[:, 'dbas_max'] = df.target_column.map(lambda x: x[3])

In [13]:
sensor1_2017_min_int_df = df.drop(['target_column'], axis =1)

In [14]:
sensor1_2017_min_int_df.head()

      timestamp  dbas_lin_mean  dbas_mean   dbas_max
0  1.484334e+09      60.716888  60.582352  63.650002
1  1.484334e+09      62.190811  61.182587  68.220001
2  1.484334e+09      65.203972  64.316269  68.849998
3  1.484334e+09      70.336472  69.635933  78.419998
4  1.484335e+09      66.323914  63.955086  77.129997

In [15]:
sensor1_2017_min_int_df.dtypes

timestamp        float64
dbas_lin_mean    float64
dbas_mean        float64
dbas_max         float64
dtype: object

In [16]:
#df['time_est'] = pd.to_datetime(sensor1_2017_min_int_df.timestamp, format = '%Y-%m-%d %H:%M:%S', errors ='coerce')

In [17]:
sensor1_2017_min_int_df.head()

      timestamp  dbas_lin_mean  dbas_mean   dbas_max
0  1.484334e+09      60.716888  60.582352  63.650002
1  1.484334e+09      62.190811  61.182587  68.220001
2  1.484334e+09      65.203972  64.316269  68.849998
3  1.484334e+09      70.336472  69.635933  78.419998
4  1.484335e+09      66.323914  63.955086  77.129997

In [18]:
sensor1_2017_min_int_df['timestamp'] = pd.to_datetime(sensor1_2017_min_int_df['timestamp'], unit = "s")

In [19]:
sensor1_2017_min_int_df.memory_usage(index=True).sum()

15742080

In [20]:
#plt.figure(figsize=(9, 3))

#plt.plot(timestamp, dbas_mean, data = sensor1_2017_min_int_df)

## SENSOR 2
### sonycnode-b827eb8e2420.sonyc
### 4 Washington Square North 1-6 Washington Square North, New York, NY 10003

In [21]:
# Sensor 2
#- sonycnode-b827eb8e2420.sonyc
# 4 Washington Square North 1-6 Washington Square North, New York, NY 10003


### upload Sensor
sensor2_2017 = h5py.File(config.dataFol+'spl/2017/sonycnode-b827eb8e2420.sonyc.h5', 'r')

In [22]:
# Grab minute interval from the h5 - figure out periodicty 
dset2 = sensor2_2017['minute_intervals']

In [23]:
df2 = pd.DataFrame(dset2, columns = ['target_column'])
df2.head()

                                 target_column
0  [1484137073.85, 58.002308, 57.841667, 63.1]
1   [1489175399.54, 60.70463, 60.21913, 69.06]
2   [1489175459.39, 59.98697, 59.82389, 62.75]
3   [1489175519.4, 60.19102, 60.038166, 62.37]
4   [1489175579.4, 58.72285, 58.669334, 61.29]

In [24]:
#df2.loc[:, 'timestamp', 'dbas_lin_mean', 'dbas_mean', 'dbas_max'] = df2.target_column.map(lambda x: x[0:3])

In [25]:
### Extract values from position 
# TODO: REWORK THIS CODE - concise 

df2.loc[:, 'timestamp'] = df2.target_column.map(lambda x: x[0])
df2.loc[:, 'dbas_lin_mean'] = df2.target_column.map(lambda x: x[1])
df2.loc[:, 'dbas_mean'] = df2.target_column.map(lambda x: x[2])
df2.loc[:, 'dbas_max'] = df2.target_column.map(lambda x: x[3])
df2.head()

,target_column,timestamp,dbas_lin_mean,dbas_mean,dbas_max
0,"[1484137073.85, 58.002308, 57.841667, 63.1]",1.484137e+09,58.002308,57.841667,63.099998
1,"[1489175399.54, 60.70463, 60.21913, 69.06]",1.489175e+09,60.704632,60.219131,69.059998
2,"[1489175459.39, 59.98697, 59.82389, 62.75]",1.489175e+09,59.986969,59.823891,62.750000
3,"[1489175519.4, 60.19102, 60.038166, 62.37]",1.489176e+09,60.191021,60.038166,62.369999
4,"[1489175579.4, 58.72285, 58.669334, 61.29]",1.489176e+09,58.722851,58.669334,61.290001

In [26]:
sensor2_2017_min_int_df = df2.drop(['target_column'], axis =1)

In [27]:
sensor2_2017_min_int_df.head()

      timestamp  dbas_lin_mean  dbas_mean   dbas_max
0  1.484137e+09      58.002308  57.841667  63.099998
1  1.489175e+09      60.704632  60.219131  69.059998
2  1.489175e+09      59.986969  59.823891  62.750000
3  1.489176e+09      60.191021  60.038166  62.369999
4  1.489176e+09      58.722851  58.669334  61.290001

In [28]:
sensor2_2017_min_int_df['timestamp'] = pd.to_datetime(sensor2_2017_min_int_df['timestamp'], unit = "s")

# SENSOR 3 -2017

In [29]:
#### - sonycnode-b827eb86d458.sonyc
#### Silver Lab - 60 5th Ave

sensor3_2017 = h5py.File(config.dataFol+'spl/2017/sonycnode-b827eb86d458.sonyc.h5', 'r')

In [30]:
dset3 = sensor3_2017['minute_intervals']

In [31]:
df3 = pd.DataFrame(dset3, columns = ['target_column'])
df3.head()

                                  target_column
0   [1483246859.23, 62.054955, 61.132324, 67.0]
1  [1483246919.25, 61.978256, 60.498814, 73.56]
2   [1483246979.25, 67.13952, 64.938644, 75.52]
3   [1483247039.25, 63.978664, 60.93949, 72.41]
4  [1483247099.26, 62.555042, 60.661354, 71.73]

In [32]:
df3.loc[:, 'timestamp'] = df3.target_column.map(lambda x: x[0])
df3.loc[:, 'dbas_lin_mean'] = df3.target_column.map(lambda x: x[1])
df3.loc[:, 'dbas_mean'] = df3.target_column.map(lambda x: x[2])
df3.loc[:, 'dbas_max'] = df3.target_column.map(lambda x: x[3])
df3.head()

,target_column,timestamp,dbas_lin_mean,dbas_mean,dbas_max
0,"[1483246859.23, 62.054955, 61.132324, 67.0]",1.483247e+09,62.054955,61.132324,67.000000
1,"[1483246919.25, 61.978256, 60.498814, 73.56]",1.483247e+09,61.978256,60.498814,73.559998
2,"[1483246979.25, 67.13952, 64.938644, 75.52]",1.483247e+09,67.139519,64.938644,75.519997
3,"[1483247039.25, 63.978664, 60.93949, 72.41]",1.483247e+09,63.978664,60.939491,72.410004
4,"[1483247099.26, 62.555042, 60.661354, 71.73]",1.483247e+09,62.555042,60.661354,71.730003

In [33]:
sensor3_2017_min_int_df = df3.drop(['target_column'], axis =1)

In [34]:
#sensor3_2017_min_int_df['sensor#'] = 'sonycnode-b827eb86d458'

In [35]:
sensor3_2017_min_int_df.head()

      timestamp  dbas_lin_mean  dbas_mean   dbas_max
0  1.483247e+09      62.054955  61.132324  67.000000
1  1.483247e+09      61.978256  60.498814  73.559998
2  1.483247e+09      67.139519  64.938644  75.519997
3  1.483247e+09      63.978664  60.939491  72.410004
4  1.483247e+09      62.555042  60.661354  71.730003

In [36]:
sensor3_2017_min_int_df['timestamp'] = pd.to_datetime(sensor3_2017_min_int_df['timestamp'], unit = "s")

# Sensor 4 

#### - sonycnode-b827eb905497.sonyc
#### Kimmel Center	60 Washington Square S, New York, NY 10012

In [37]:
s4_2017 = h5py.File(config.dataFol+'spl/2017/sonycnode-b827eb905497.sonyc.h5', 'r')

In [38]:
dset4 = s4_2017['minute_intervals']

In [39]:
df4 = pd.DataFrame(dset4, columns = ['target_column'])

In [40]:
df4.loc[:, 'timestamp'] = df4.target_column.map(lambda x: x[0])
df4.loc[:, 'dbas_lin_mean'] = df4.target_column.map(lambda x: x[1])
df4.loc[:, 'dbas_mean'] = df4.target_column.map(lambda x: x[2])
df4.loc[:, 'dbas_max'] = df4.target_column.map(lambda x: x[3])
df4.head()

,target_column,timestamp,dbas_lin_mean,dbas_mean,dbas_max
0,"[1483496279.12, 67.65112, 66.04513, 76.51]",1.483496e+09,67.651123,66.045128,76.510002
1,"[1483496339.12, 66.96185, 64.7135, 77.19]",1.483496e+09,66.961853,64.713501,77.190002
2,"[1483496399.68, 64.16872, 62.83353, 72.68]",1.483496e+09,64.168716,62.833530,72.680000
3,"[1483496459.14, 60.71768, 60.404675, 65.08]",1.483496e+09,60.717682,60.404675,65.080002
4,"[1483496519.15, 63.59528, 62.72477, 72.16]",1.483497e+09,63.595280,62.724770,72.160004

In [41]:
sensor4_2017_min_int_df = df4.drop(['target_column'], axis =1)

In [42]:
sensor4_2017_min_int_df['timestamp'] = pd.to_datetime(sensor4_2017_min_int_df['timestamp'], unit = "s")

# SENSOR 5

#### - sonycnode-b827eb0fedda.sonyc
#### Juan Carlos	King Juan Carlos I of Spain Center, 53 Washington Square S, New York, NY 10012

In [43]:
s5_2017 = h5py.File(config.dataFol+'spl/2017/sonycnode-b827eb0fedda.sonyc.h5', 'r')

In [44]:
dset5 = s5_2017['minute_intervals']

In [45]:
df5 = pd.DataFrame(dset5, columns = ['target_column'])

In [46]:
df5.loc[:, 'timestamp'] = df5.target_column.map(lambda x: x[0])
df5.loc[:, 'dbas_lin_mean'] = df5.target_column.map(lambda x: x[1])
df5.loc[:, 'dbas_mean'] = df5.target_column.map(lambda x: x[2])
df5.loc[:, 'dbas_max'] = df5.target_column.map(lambda x: x[3])
df5.head()

,target_column,timestamp,dbas_lin_mean,dbas_mean,dbas_max
0,"[1483246859.5, 70.23042, 69.63875, 74.15]",1.483247e+09,70.230423,69.638748,74.150002
1,"[1483246919.51, 59.767212, 58.888306, 64.16]",1.483247e+09,59.767212,58.888306,64.160004
2,"[1483246979.52, 69.04428, 65.84152, 79.27]",1.483247e+09,69.044281,65.841522,79.269997
3,"[1483247039.52, 58.78007, 58.308304, 65.26]",1.483247e+09,58.780071,58.308304,65.260002
4,"[1483247099.53, 64.88857, 61.37305, 75.07]",1.483247e+09,64.888573,61.373051,75.070000

In [47]:
sensor5_2017_min_int_df = df5.drop(['target_column'], axis =1)
sensor5_2017_min_int_df.head()

      timestamp  dbas_lin_mean  dbas_mean   dbas_max
0  1.483247e+09      70.230423  69.638748  74.150002
1  1.483247e+09      59.767212  58.888306  64.160004
2  1.483247e+09      69.044281  65.841522  79.269997
3  1.483247e+09      58.780071  58.308304  65.260002
4  1.483247e+09      64.888573  61.373051  75.070000

In [48]:
sensor5_2017_min_int_df['timestamp'] = pd.to_datetime(sensor5_2017_min_int_df['timestamp'], unit = "s")

# SENSOR 6

#### - sonycnode-b827eb1685c7.sonyc
#### Shimkin Reading Room	35-51 West 4th Street, New York, NY 10012

In [49]:
s6_2017 = h5py.File(config.dataFol+'spl/2017/sonycnode-b827eb1685c7.sonyc.h5', 'r')

In [50]:
dset6 = s6_2017['minute_intervals']

In [51]:
df6 = pd.DataFrame(dset6, columns = ['target_column'])

In [52]:
df6.loc[:, 'timestamp'] = df6.target_column.map(lambda x: x[0])
df6.loc[:, 'dbas_lin_mean'] = df6.target_column.map(lambda x: x[1])
df6.loc[:, 'dbas_mean'] = df6.target_column.map(lambda x: x[2])
df6.loc[:, 'dbas_max'] = df6.target_column.map(lambda x: x[3])
df6.head()

,target_column,timestamp,dbas_lin_mean,dbas_mean,dbas_max
0,"[1484936519.2, 65.790405, 64.380714, 73.78]",1.484937e+09,65.790405,64.380714,73.779999
1,"[1484936579.21, 64.58518, 64.10567, 70.98]",1.484937e+09,64.585182,64.105667,70.980003
2,"[1484936594.21, 62.332256, 62.322, 62.96]",1.484937e+09,62.332256,62.321999,62.959999
3,"[1484940098.72, 62.32707, 62.31, 62.72]",1.484940e+09,62.327068,62.310001,62.720001
4,"[1484940179.41, 64.721664, 63.96205, 71.32]",1.484940e+09,64.721664,63.962051,71.320000

In [53]:
sensor6_2017_min_int_df = df6.drop(['target_column'], axis =1)
sensor6_2017_min_int_df.head()

      timestamp  dbas_lin_mean  dbas_mean   dbas_max
0  1.484937e+09      65.790405  64.380714  73.779999
1  1.484937e+09      64.585182  64.105667  70.980003
2  1.484937e+09      62.332256  62.321999  62.959999
3  1.484940e+09      62.327068  62.310001  62.720001
4  1.484940e+09      64.721664  63.962051  71.320000

sensor6_2017_min_int_df['timestamp'] = pd.to_datetime(sensor6_2017_min_int_df['timestamp'], unit = "s")

## WRITE CSV

In [63]:
### SENSOR 1

sensor1_2017_min_int_df.to_csv('/gws_gpfs/projects/project-urban_birds/workspace/share/data/clean_spl/sonycnode-b827eb815321-2017.csv')

### SENSOR 2

sensor2_2017_min_int_df.to_csv('/gws_gpfs/projects/project-urban_birds/workspace/share/data/clean_spl/sonycnode-b827eb8e2420-2017.csv')

### SENSOR 3

sensor3_2017_min_int_df.to_csv('/gws_gpfs/projects/project-urban_birds/workspace/share/data/clean_spl/sonycnode-b827eb86d458-2017.csv')

### SENSOR 4

sensor4_2017_min_int_df.to_csv('/gws_gpfs/projects/project-urban_birds/workspace/share/data/clean_spl/sonycnode-b827eb905497-2017.csv')

### SENSOR 5

sensor5_2017_min_int_df.to_csv('/gws_gpfs/projects/project-urban_birds/workspace/share/data/clean_spl/sonycnode-b827eb0fedda-2017.csv')

### SENSOR 6

sensor6_2017_min_int_df.to_csv('/gws_gpfs/projects/project-urban_birds/workspace/share/data/clean_spl/sonycnode-b827eb1685c7-2017.csv')

In [55]:
### MEI DATA

In [56]:

#spl2017 = [f for f in listdir(config.dataFol+'spl/2017') if isfile(join(config.dataFol+'spl/2017', f))]
#spl2018 = [f for f in listdir(config.dataFol+'spl/2018') if isfile(join(config.dataFol+'spl/2018', f))]

In [57]:
#print("# spl 2017 sensors: {0}\n# spl 2018 sensors: {1}".format(len(spl2017), len(spl2018)))

In [58]:
#spl2017_data = {}
#for i in range(len(spl2017)):
#    spl2017_data[spl2017[i]] = h5py.File(config.dataFol+'spl/2017/'+spl2017[i],'r')

In [59]:
#spl2018_data = {}
#for i in range(len(spl2018)):
#    spl2018_data[spl2018[i]] = h5py.File(config.dataFol+'spl/2018/'+spl2018[i],'r')

In [60]:
#x_val = [datetime.datetime.fromtimestamp(x[0]).strftime('%Y-%m-%d %H:%M:%S') for x in spl2017_data[spl2017[0]]['minute_intervals']]
#y_val = [x[1] for x in spl2017_data[spl2017[0]]['minute_intervals']]

#plt.plot(x_val,y_val)
#plt.plot(x_val,y_val,'or')
#plt.show()

In [61]:
#datetime.datetime.fromtimestamp(h5['minute_intervals'][0][0]).strftime('%Y-%m-%d %H:%M:%S')

In [62]:
# using sound data to confirm the biorad data