In [70]:
import os 
import sys
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import matplotlib.pylab as plt
 
%matplotlib inline

sys.path.append('../')
from envir import config

In [71]:
col_names = ['ebird_species_code', 'taxon_order', 'category', 'english_name', 'sci_name',\
            'range', 'order', 'family', 'ebird_species_group', 'extinct', 'extinct_year']

birds = pd.read_csv(config.dataFol+"BirdSpecies/eBird-Clements-v2019-integrated-checklist-August-2019.csv",\
                    names = col_names, encoding= 'unicode_escape',index_col = False, header = 0)

In [72]:
birds.head(5)

,ebird_species_code,taxon_order,category,english_name,sci_name,range,order,family,ebird_species_group,extinct,extinct_year
0,ostric2,1.0,species,Common Ostrich,Struthio camelus,NaN,Struthioniformes,Struthionidae (Ostriches),Ostriches,NaN,NaN
1,NaN,2.0,subspecies,NaN,Struthio camelus camelus,Sahel of North Africa and the Sudan,Struthioniformes,Struthionidae (Ostriches),Ostriches,NaN,NaN
2,NaN,3.0,subspecies,NaN,Struthio camelus syriacus,Formerly Syrian and Arabian deserts. Extinct c...,Struthioniformes,Struthionidae (Ostriches),Ostriches,1.0,1966
3,NaN,4.0,subspecies,NaN,Struthio camelus massaicus,S Kenya and e Tanzania,Struthioniformes,Struthionidae (Ostriches),Ostriches,NaN,NaN
4,NaN,5.0,subspecies,NaN,Struthio camelus australis,Southern Africa,Struthioniformes,Struthionidae (Ostriches),Ostriches,NaN,NaN

In [73]:
#target_birds = birds.loc[birds['ebrid_species_group'] == 'Thrushes']

target_birds = birds.loc[(birds['ebird_species_code'] == 'ATSP') |\
                         (birds['ebird_species_code'] == 'CHSP') |\
                          (birds['ebird_species_code'] == 'SAVS')]

In [74]:
target_birds.head()

Empty DataFrame
Columns: [ebird_species_code, taxon_order, category, english_name, sci_name, range, order, family, ebird_species_group, extinct, extinct_year]
Index: []

In [63]:


#target_birds = birds[birds['ebird_species_code'].isin(['ATSP', 'CHSP', 'SAVS', 'WTSP', 'RBGR', 'GCTH','SWTH', 'AMRE', 'BBWA', 'BTBW', 'CAWA',\
#        'COYE', 'MOWA', 'OVEN'])]

In [64]:
#target_birds.head()

Empty DataFrame
Columns: [ebird_species_code, taxon_order, category, english_name, sci_name, range, order, family, ebird_species_group, extinct, extinct_year]
Index: []

In [ ]:
American Sparrows
* ATSP American Tree Sparrow
* CHSP Chipping Sparrow
* SAVS Savannah Sparrow
* WTSP White-Throated Sparrow
Cardinals
* RBGR Rose-Breasted Grosbeak
Thrushes
* GCTH Gray-Cheeked Thrush
* SWTH Swainson’s Thrush
* AMRE American Redstart
Warblers
* BBWA Bay-breasted Warbler
* BTBW Black-throated Blue Warbler
* CAWA Canada Warbler
* COYE Common Yellowthroat
* MOWA Mourning Warbler
* OVEN Ovenbird (edited)